<!-- search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
</head>
<body>
    <h2>Search Student Information</h2>
    <div>
        <!-- Your code here -->
        <form method="get">
            <span>ID:</span>
            <input type="text" name="id" value="" />
        </form>

        <form>
            <span>Name:</span>
            <input type="text" name="name" value="" />
            <br />
            <span>Age:</span>
            <input type="text" name="age" value="" />
            <br />
            <span>Major:</span>
            <select name="major" value="" >
                <option>Computer Scinece</option>
                <option>Data Science</option>
            </select>
            <br />
            <span>Gender:</span>
            <input type="radio" name="gender" value="male" />male
            <input type="radio" name="gender" value="female" />Female

            <br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>