<!-- display.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
</head>
<body>
    <h2>Display All Students</h2>
    <div>
        <!-- Your code here -->
        <table style="border: 1px solid">
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Student Age</th>
                <th>Student Major</th>
                <th>Student Gender</th>
            </tr>
            {% for s in students %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.name }}</td>
                    <td>{{ s.age }}</td>
                    <td>{{ s.major }}</td>
                    <td>{{ s.gender}}</td>
                </tr>
            {% endfor %}
        </table>


    </div>
</body>
</html>